body {
    height: 100%;
}
/* logo */
.logo  {
    width: 100px;
}

/* Navbar */
NAV {
  width: 100%;
}

/* Style the search keywords on the webpage */
#searchInfo {
  margin-top: 20px;
  padding-bottom: 0px;
  color: black;

}

/* Search bar */
#searchbox {
  width: 70%;
  margin-left: 40px;
  margin-right: 40px;
}

#searchBar {
  width: calc(100% - 100px);
}

#cart {
  margin-right: 5px;
}

.sidebar_main {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(218, 218, 218);
    color: black;
    height: 100%;
}

/* side bar */
.sidebar {
    height: 100%;
    width: 15%;
    position: relative;
    margin-top: 140px;
    margin-bottom: 90px;
    left: 10px;
    background-color:rgb(218, 218, 218);
}

/* main */
.main {
    float: right;
    width: 80%;
    margin-left: 40px;
    top: 80px;
    position: relative;
    background-color:rgb(218, 218, 218);
    color: BLACK;
    margin-bottom: 70px;
}

.sort {
    right: 50px;
    top: 20px;
    position: absolute;
}

/* Style the products */
.column {
    display: grid;
    grid-template-columns: auto auto auto auto;
    position: relative;
    padding: 20px, 20px, 20px,20px;
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
}

.img {
    position: relative;
    width: 230px;
    height: width;
}
.desc {
    width: 220px;
    text-align: center;
    margin-bottom: 30px;
}

/* stars */
.stars-outer {
  display: inline-block;
  position: relative;
  font-family: FontAwesome;
}

.stars-outer::before {
  content: "\f006 \f006 \f006 \f006 \f006";
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: "\f005 \f005 \f005 \f005 \f005";
  color: #f8ce0b;
}

/* footer */
.footer {
    background: darkslategrey;
    color: white;
    height: 210px;
    position: relative;

  }
  
.footer-content {
    padding: 20px;
    text-align: center;
}
  
.footer-bottom {
    font-size: 15px;
    background: #343a40;
    color: #f2f2f2;
    height: 50px;   
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 20px;
}
